.Blog ul {
	list-style: none;
	margin: 0;
	padding: 5px;
	width: 90%;
	text-align: right;
}


.Blog li {
	display: inline-block;
	margin: 10px;
}

.Blog a {
	text-decoration: none;
}

.Blog a:hover,
.Blog a:active {
    color: #ed8040;
}


