.Posts {
	
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: auto;


    article {
        display: block;
        margin: 10px auto;
        text-align: center;
        font-weight: bold; 
    }

   p.Stars {
       display: block;
    width: 22%;
    margin: 12px;
    text-align: center;
    color: white;
   }

  

}

